{% extends 'base_index.html' %}
{% load staticfiles %}
{% block pagetitle %}Módulos{% endblock %}
{% block conteúdo %}
<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            
                            <div class="left col-xs-7">
                              <h2>HSE</h2>
                              <p><strong>Gerente: </strong> José da Silva </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> email:xx@gmail.com</li>
                                <li><i class="fa fa-phone"></i> Phone: 9999 8888</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'img/HSE.jpg' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i> </button>
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> Entrar
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            
                            <div class="left col-xs-7">
                              <h2>PRÉ PRINT</h2>
                              <p><strong>Gerente: </strong> Cícera da Silva </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> email:xx@gmail.com</li>
                                <li><i class="fa fa-phone"></i> Phone: 9999 8888</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'img/print.jpg' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i> </button>
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> Entrar
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            
                            <div class="left col-xs-7">
                              <h2>QUALIDADE</h2>
                              <p><strong>Gerente: </strong> João dos Santos </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> email:xx@gmail.com</li>
                                <li><i class="fa fa-phone"></i> Phone: 9999 8888</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'img/qualidade.jpg' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i> </button>
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> Entrar
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            
                            <div class="left col-xs-7">
                              <h2>NOVO MÓDULO</h2>
                              <p><strong>Gerente: </strong> xxxxxxxxxx </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> email: xxxxxx</li>
                                <li><i class="fa fa-phone"></i> Phone: xxxxxx</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'img/01.png' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i> </button>
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> Entrar
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            
                            <div class="left col-xs-7">
                              <h2>NOVO MÓDULO</h2>
                              <p><strong>Gerente: </strong> xxxxxxxxxx </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> email: xxxxxx</li>
                                <li><i class="fa fa-phone"></i> Phone: xxxxxx</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'img/01.png' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i> </button>
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> Entrar
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            
                            <div class="left col-xs-7">
                              <h2>NOVO MÓDULO</h2>
                              <p><strong>Gerente: </strong> xxxxxxxxxx </p>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> email: xxxxxx</li>
                                <li><i class="fa fa-phone"></i> Phone: xxxxxx</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'img/01.png' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i> </button>
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> Entrar
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
{% endblock %}